h1 {
    background-color: orange;
    display: inline-block;
}

.img {
    display: flex;
    justify-content: center;
}

.desc {
    color: white;
    font-size: 25px;
    font-family: monospace;
}

.h_1 {
    text-align: center;
}

.table {
    margin-top: 50px;
    border-bottom: 10px;
    border-top: 10px;
    border-color: solid white;
}

/* Styling for table */
table {
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid orange;
    padding: 5px;
    text-align: left;
}

th {
    background-color: orange;
    padding: 5px;
}



.j1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    filter: blur(2px);
}

.j1:hover {
    transition: filter 2s ease;
    transform: scale(1.1) ;
    filter: blur(0px);
}

.price {
    display: flex;
    justify-content: space-around;
}
